<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hezhan.mybatis.demo.mapper.AuthorMapper">
    <resultMap id="BaseMap" type="com.hezhan.mybatis.demo.entity.po.Author">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="value" property="value"/>
    </resultMap>
    <insert id="insertBatchAuthor">
        insert into author(id,name,code,value) values
        <foreach collection="authors" separator="," item="author">
            (#{author.id}, #{author.name}, #{author.code}, #{author.value})
        </foreach>
    </insert>
</mapper>